<section class="section">
  <div class="container">
    <div class="notification">
      <h1 class="title">Original</h1>
      <h2 class="subtitle">
        Original data without applying any <strong>RxJS</strong> Operators
      </h2>
    </div>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="products.length === 0">
          <td colspan="3" align="center">
            <i class="fas fa-cog fa-3x fa-spin"></i>
          </td>
        </tr>
        <ng-container *ngIf="products.length > 0">
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.location}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="container top-80">
    <div class="notification">
      <h1 class="title">MAP Operator</h1>
      <h2 class="subtitle">
        Simple Map Operator - Return ProductExt with new property and updated price
      </h2>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Price (* 2)</th>
          <th>Location</th>
          <th>Name With Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="basicMapedProducts.length === 0">
          <td colspan="3" align="center">
            <i class="fas fa-cog fa-3x fa-spin"></i>
          </td>
        </tr>
        <ng-container *ngIf="basicMapedProducts.length > 0">
          <tr *ngFor="let product of basicMapedProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.location}}</td>
            <td>{{product.nameWithPrice}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="container top-80">
    <div class="notification">
      <h1 class="title">MergeMAP Operator</h1>
      <h2 class="subtitle">
        Merge Map Operator - Get one observable and return another obervable (merge it to one)
      </h2>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Product ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="basicMapedProducts.length === 0">
          <td colspan="3" align="center">
            <i class="fas fa-cog fa-3x fa-spin"></i>
          </td>
        </tr>
        <ng-container *ngIf="basicMapedProducts.length > 0">
          <tr *ngFor="let product of basicMapedProducts">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.location}}</td>
            <td>{{product.nameWithPrice}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</section>
